<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registration Page</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <div id="registration_container">
            <h1>Sign up for The Wall</h1>
            <!-- Section for errors --> 
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- form -->
            <form action="/process_registration" method="post">
                <label for="first_name">First Name: <input type="text" name="first_name" placeholder="Enter your first name"><br/>
                <label for="last_name">Last Name: <input type="text" name="last_name" placeholder="Enter your last name"><br/>
                <label for="email">Email: <input type="text" name="email" placeholder="Enter your email"><br/>
                <label for="password">Password: <input type="password" name="password" placeholder="Enter a password"><br/>
                <label for="confirm_password">Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm password"><br/><br/>
                <input class="button" type="submit" value="Submit Registration">
            </form>
        </div>
    </body>
</html>