<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <h2>Your gold: {{ session["gold"] }}</h2>
        <div class="locations">
            <!-- Farm -->
            <div class="building farm">
                <h3>Farm</h3>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
           <!-- Cave -->
            <div class="building cave">
                <h3>Cave</h3>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <!-- House -->
            <div class="building house">
                <h3>House</h3>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <!-- Casino -->
            <div class="building casino">
                <h3>Casino</h3>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
        </div>
        <h5>Activities:</h5>
        <div class="activities">
            <ul>
            {% for activity in session['activities'] %}
                {% if "lost" not in activity %}
                <li style="color:rgb(10, 177, 10)";>{{ activity }}</li>
                {% else %}
                <li style="color:rgb(235, 42, 42)";>{{ activity }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </body>
</html>